.task-list {
    width: 470px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
}
@media (min-width: 0px) and (max-width: 988px) {
    .task-list {
        width: 325px;
    }
}